@import "../../../common/extends";
@import "../../../common/variables";

.password {
  position: absolute;
  top: 15%;
  left: 18%;
  transform: translateY(-10px);
  background-color: $black;
  border-radius: 10px;
  opacity: 0;
  z-index: -1;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  row-gap: $gap;
  justify-content: center;
  justify-items: flex-start;
  padding: $gap;
  border: 1px solid grey;
  transition: 0.2s ease-in-out;
  &__header {
    &__title {
      color: $white;
      font-size: 1.3rem;
    }
    &__cancle {
      @extend %button;
      position: absolute;
      top: 16%;
      left: 93%;
      font-size: 1rem;
      color: $grey;
      vertical-align: middle;
      &:hover {
        color: red;
      }
    }
  }
  &__form {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    column-gap: $gap;
    align-items: center;
    width: 100%;
    &__email {
      border-bottom: 2px solid $main;
      display: flex;
      align-items: center;
      &__label {
        @extend %loginLabel;
        font-size: 1rem;
        color: $white;
      }
      &__input {
        @extend %loginInput;
        color: $white;
        font-size: 1rem;
      }
      &:focus-within &__label {
        color: $main;
      }
    }
    &__reset {
      @extend %button;
      color: $white;
      &:hover {
        color: $main;
      }
    }
  }
}
