@import "../../../common/extends";
@import "../../../common/variables";
@import "../../../common/mixins";

.nav {
  position: fixed;
  top: 0;
  z-index: 4;
  background-color: $black;
  padding: $gap;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @include responsible("small") {
    padding: $gap 1.6em;
  }
  &__home {
    @extend %navLink;
  }
  &__user {
    @extend %button;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: $gap;
    align-items: center;
    @include responsible("small") {
      display: none;
    }
    &__profile {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
    &__icon {
      font-size: 1.5rem;
      color: $white;
      pointer-events: none;
      transition: 0.2s ease-in-out;
    }
    &:hover > .nav__user__icon {
      color: $main;
    }
  }
  &__menu {
    @include responsible("small") {
      display: none;
    }
    position: absolute;
    background-color: $black;
    display: grid;
    top: 90%;
    grid-template-rows: repeat(2, max-content);
    transform: translateY(-150%);
    opacity: 0;
    z-index: -1;
    right: 0.8%;
    border: 1px solid $grey;
    border-radius: 10px 0 10px 10px;
    transition: 0.2s ease-in-out;
    &__profile {
      padding: $gap;
      text-align: center;
      &__text {
        color: $grey;
        font-size: 0.8rem;
      }
      &__name {
        color: $white;
        font-size: 1rem;
      }
    }
    &__signout {
      @extend %button;
      padding: $gap;
      color: $white;
      font-size: 1rem;
      &:hover {
        color: $main;
      }
    }
  }
  &__bars {
    @extend %button;
    font-size: 1.7rem;
    color: $white;
    @include responsible("medium") {
      display: none;
    }
    @include responsible("large") {
      display: none;
    }
    &:hover {
      color: $main;
    }
  }
  &__smallMenu {
    display: none;
    @include responsible("small") {
      position: absolute;
      display: grid;
      row-gap: 1px;
      top: 100%;
      width: 100%;
      background-color: $grey;
      border-top: 1px solid $grey;
      border-bottom: 1px solid $grey;
      opacity: 0;
      z-index: -1;
      transform: translateX(100%);
      transition: 0.2s ease-in-out;
    }
    &__signout {
      @extend %button;
      background-color: $black;
      font-size: 1.3rem;
      color: $white;
      padding: 0.4em;
      &:hover {
        color: $main;
      }
    }
  }
}
